<%- include('../partials/header') %>
<div class="container">
  <%- include('../partials/message') %>
    <a href="/mahasiswa/create" class="btn btn-primary btn-sm btn-success">Tambah</a>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">nrp</th>
                <th scope="col">nama depan</th>
                <th scope="col">nama belakang</th>
                <th scope="col">jenis kelamin</th>
                <th scope="col">agama</th>
                <th scope="col">umur</th>
                <th scope="col">tinggi badan</th>
                <th scope="col">golongan darah</th>
                <th scope="col">alamat</th>
                <th scope="col">hobi</th>
                <th scope="col">email</th>
                <th scope="col">no telpon</th>
                <th colspan="2" scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i<data.length; i++){ %>
                <tr>
                  <th scope="row"><%= (i+1) %></th>
                  <td><%= data[i].nrp %></td>
                  <td><%= data[i].nama_depan %></td>
                  <td><%= data[i].nama_belakang %></td>
                  <td><%= data[i].jenis_kelamin %></td>
                  <td><%= data[i].agama %></td>
                  <td><%= data[i].umur %></td>
                  <td><%= data[i].tinggi_badan %></td>
                  <td><%= data[i].gol_darah %></td>
                  <td><%= data[i].alamat %></td>
                  <td><%= data[i].hobi %></td>
                  <td><%= data[i].email %></td>
                  <td><%= data[i].no_telpon %></td>
                  <td>
                    <a href="/mahasiswa/edit/<%= data[i].id %>" class="btn btn-sm btn-warning">Edit</a>
                    <a href="/mahasiswa/delete/<%= data[i].id %>" class="btn btn-sm btn-danger">Hapus</a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
<%- include('../partials/header') %>
      
      