<%- include('../partials/header') %>
<div class="container">
  <%- include('../partials/message') %>
    <a href="/kategori/create" class="btn btn-primary btn-sm btn-success">Tambah</a>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nama</th>
                <th colspan="2" scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i<data.length; i++){ %>
                <tr>
                  <th scope="row"><%= (i+1) %></th>
                  <td><%= data[i].nama %></td>
                  <td>
                    <a href="/kategori/edit/<%= data[i].id %>" class="btn btn-sm btn-warning">Edit</a>
                    <a href="/kategori/delete/<%= data[i].id %>" class="btn btn-sm btn-danger">Hapus</a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
<%- include('../partials/header') %>
      
      